
.body-dummy{
    min-height: 100vh;
    /* padding-left: 180px;
    padding-right: 180px; */
}

@media only screen and (min-width: 952px) {  
    .body-dummy { 
    padding-left: 180px;
    padding-right: 180px;
    }
  }
@media only screen and (max-width: 952px) {  
    .body-dummy { 
     padding-left: 30px;
    padding-right: 30px;
    }
  }
@media only screen and (max-width: 413px) {  
    .body-dummy { 
    padding-left: 0px;
    padding-right: 0px;
    }
  }
  
  .body-all-songs{
      min-height: 100vh;
      background-color:#F5F5F5;
      display: flex;
      justify-content: center;
    }
    
    @media only screen and (min-width: 651px) {  
        .body-all-songs { 
            padding-left: 90px;
            padding-right: 90px;
        }
    }
    @media only screen and (max-width: 650px) {  
        .body-all-songs { 
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    

.body-header{
    display: flex;
    justify-content: space-between;
}

.all-songs-text{
    font-size: 40px;
    font-weight: bolder;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    gap:10px;
}

.genre-icon{
    cursor: pointer;
    width: 37px;
}